body{
    background-color: #f2f2f2;
}

*{ margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    
  
}

.container{
    display: flex;
    padding: 10px;
    width: 82%;
    color: white;
    flex-direction: row;
    justify-content: space-between;
    
    
  
    
}

.item1{
    font-weight:bold;
    padding: 5px;
    font-size: 18px;
    letter-spacing: 1.5px;
    padding-left: 20px;
    
    
}
.item2 {
     
    padding: 5px;
    letter-spacing: -0.7px;
    
    
}




.container1{
    display: flex;
    flex-direction: column;
    height: 720px;
    color: black;
    background: linear-gradient(rgba(0, 0, 0, 0.445), rgba(0, 0, 0, 0.445)),
    url("images/hero.jpg") center/cover;
    justify-content: flex-start;
    align-items: center;
    
    
}
.container-info{
    display: flex;
    flex-direction: column;
    width: 82%;
    align-content: center;
    padding-top: 10%;
    
    
}
.heading1{ font-size: 45px;
    color: white;
    margin-bottom: -25px;
    padding: 20px;
    
}
.heading2{font-size: 45px;
    color: white;
    margin-top: -25px;
    padding: 20px;
    padding-bottom: 0;
    

}
.hero-input-container{
    padding: 20px;
    padding-top: 0;

}

.heroinput{ height:37px;
    width: 173px;
    padding-left: 11px;
    padding-right: 11px;
    border-radius: 4.5px;
    border-color: transparent;
    font-size: 15.7px;
}

.herobutton{
    width: 102px;
    height: 42px;
    padding-left: 11px;
    padding-right: 11px;
    font-size: 15.7px;
    background-color:#f0ad4e;
    border-radius: 4.5px;
    border-color: transparent;
    font-weight: bold;
    
    color: white;
}


/*styling the second section(logo grid)*/
.logo-head{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    padding: 50px;
}
.logo-heading{
    margin-bottom: -10px;
    
    font-size: 25px;

}
.logo-heading2{
    font-size: 25.5px;
    

}
.logo-head p{
    text-align: center;
    font-size: 22px;
    color: #bac4c5;
    font-weight: bold;
    white-space: pre-wrap;
    padding-top: 10px;
}


.container-logo-images{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
    align-items: center;
    padding: 20px;
    margin-bottom: 50px;
    margin-top: -20px;
    padding-left: 100px;
    padding-right: 100px;
}
.logo-item1{
    flex-grow: 1;
    flex-shrink: 0;
    flex-direction: row;
    flex-basis: 200px;
    
    justify-content: center;
    display: flex;
}
.logo-item2{
    flex-grow: 1;
    flex-shrink: 0;
    flex-direction: row;
    flex-basis: 200px;
    
    justify-content: center;
    display: flex;
    
    
    
}
.logo-item3{
    flex-grow: 1;
    flex-shrink: 0;
    flex-direction: row;
    flex-basis: 200px;
    
    justify-content: center;
    display: flex;
    
   
    
}
.logo-image{
    height: 170px;
    

}
figure{
    text-align: center;
    
    color:#bec6c7 ;
    font-weight:bolder;
}
figure h3{
    color: #bec6c7;
    
}
figure p {
    margin-top: 6px;
    color: #bac4c5;
    
}

/*styling the invite me section*/

hr{
    margin-left: 10%;
    margin-right: 10%;
}
.invitemepls{
    display: flex;
    justify-content: center;
}

.inviteme-container{
    
    justify-content: center;
    padding: 20px;
    padding-left: 0;
    padding-right: 0;
 
}

.heroinput{ height:37px;
    width: 189px;
    

    border-radius: 4.5px;
    border: #a4a4a4 1px solid;
    font-size: 18px;
}

.herobutton{
    width: 105px;
    height: 50px;
    min-width: 105px;
    padding-left: 11px;
    padding-right: 11px;
    font-size: 15.7px;
    background-color:#f0ad4e;
    border-radius: 4.5px;
    border-color: transparent;
    font-weight: bold;
    margin-left: 1.5px;
    
    color: white;
}

@media only screen and (max-width: 600px){
    .invitemepls{
        display: flex;
        flex-direction: column;
        align-items: center;

    }
    .inviteme-container{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .herobutton{
        align-items: center;
        margin-top: 11px;
    }
    
}


/* styling the phone image section*/
.phonehead{ text-align: center;
    display: flex;
    flex-direction: column;
    padding: 50px;
}

.phone-heading{
    font-size: 40px;

}

.phonehead p{
    text-align: center;
    font-size: 22px;
    color: #bac4c5;
    font-weight: bold;
    white-space: pre-wrap;
    padding-top: 10px;
}
.phone-image{
    padding: 50px;
    width: 200px;
}


/*styling the design team grid*/


.design-head{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    padding: 50px;
    padding-top: 100px;
}

.desh{
    font-size: 40px;
    
    margin-bottom: -10px;
    
}
.desh1{
    font-size: 40px;
    
}
.designpara{
    text-align: center;
    font-size: 22px;
    color: #bac4c5;
    font-weight: bold;
    
    padding-top: 10px;
}
.container-d-images{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
    align-items: center;
    padding: 20px;
    margin-bottom: 50px;
    margin-top: -20px;
    padding-left: 100px;
    padding-right: 100px;
}
.logo-item1{
    flex-grow: 1;
    flex-shrink: 0;
    flex-direction: row;
    flex-basis: 200px;
    
    justify-content: center;
    display: flex;
}
.logo-item2{
    flex-grow: 1;
    flex-shrink: 0;
    flex-direction: row;
    flex-basis: 200px;
    
    justify-content: center;
    display: flex;
    
    
    
}
.logo-item3{
    flex-grow: 1;
    flex-shrink: 0;
    flex-direction: row;
    flex-basis: 200px;
    
    justify-content: center;
    display: flex;
    
   
    
}
.d-image{
    height: 160px;
    width: 160px;
    border-radius: 50%;
    object-fit: cover;
    

}
figure{
    text-align: center;
    
    color:#bec6c7 ;
    font-weight:bolder;
}
figure h3{
    color: #bec6c7;
    
}
figure p {
    margin-top: 6px;
    color: #bac4c5;
    
}







/*styling the last invite me section*/

.nobottomborder{
    border-bottom: 0;
}

.heroinput{ height:37px;
    width: 189px;
    padding-left: 11px;
    
    border-radius: 4.5px;
    
    border: #a4a4a4 1px solid;
    font-size: 18px;
}

.herobutton{
    width: 105px;
    height: 42px;
    min-width: 105px;
    padding-left: 11px;
    padding-right: 11px;
    font-size: 15.7px;
    background-color:#f0ad4e;
    border-radius: 4.5px;
    border-color: transparent;
    font-weight: bold;
    margin-left: 1.5px;
    
    color: white;
}
  


/* now styling the form*/
.form-container{
    display: flex;
    flex-direction: column;
    margin-top: 50px;
}

.form-heading h1{ 
    text-align: center;
    font-size: 30px;
    
}
.inputboxes{
    display: flex;
    flex-direction: column;
    
    align-items: center;
}
.inputbox{
    margin: 10px;
    width: 50%;
    padding: 10px;
    border: #a4a4a4 1px solid;
}

.formbtn{
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 11px;
    padding-bottom: 11px;
    
    border-radius: 4.5px;
    color: white;
    background-color: #f0ad4e;
    
    font-size: 15px;
    margin-bottom: 50px;
    border-color: transparent;
}
  